@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/Images/Rushbox.png" height="100"/>
    <!--<h1>RUSHBOX</h1>-->
    <p class="lead">RUSHBOX is a platform for buying, selling or providing services whatever you want.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Buy</h2>
        <p>
            You can buy online books, movies, music and games along with electronics, toys, apparel, sports, tools, groceries and general home and garden items.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sell</h2>
        <p>Do you want to sell something? Here you can do it. You just need signup as seller and publish your items.</p> 
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Provide Service</h2>
        <p>If you have license for providing a service in our platform you will be able to do it.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>